<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5>add client</h5>

<form action="{% url 'addclient'%}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" placeholder="name" name="name"></td>
        </tr>
         <tr>
            <td>Compeny Name</td>
            <td><input type="text" placeholder="compeny name" name="compenyName"></td>
        </tr>
         <tr>
            <td>E-mail</td>
            <td><input type="email" placeholder="email" name="email"></td>
        </tr>
         <tr>
            <td>Contect Number</td>
            <td><input type="text" placeholder="number" maxlength="10" name="number"></td>
        </tr>
         <tr>
            <td>Adderss</td>
            <td><input type="text" placeholder="address" name="address"></td>
        </tr>
         <tr>
            <td>City</td>
            <td>
                <input type="text" name="city">

            </td>
        </tr>
    </table>
    <input type="submit" value="addclient">

</form>

</body>
</html>