<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5>add equepment</h5>
<form action="">
    <input type="text" placeholder="serial number" name="serialnumber">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="cityid" name="cityid">
    <input type="text" placeholder="plantid" name="plantid">
    <input type="text" placeholder="status" name="status" maxlength="1">
    <input type="text" placeholder="descripation" name="descripation">
    <input type="text" placeholder="dimension" name="dimension">

    <input type="submit" value="Add equepment">

</form>
</body>
</html>