<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5>add project</h5>
<form action="">
    <input type="text" placeholder="projectid" name="projectid">
    <input type="text" placeholder="project title" name="projecttitle">
    <input type="text" placeholder="clientid" name="clientid">
    <input type="text" placeholder="address" name="address">
    <input type="text" placeholder="cityid" name="cityid">
    <input type="text" placeholder="Phone number" name="contectnumber">
    <input type="text" placeholder="statuse" name="status" maxlength="1">
    <input type="submit" value="add project">
</form>
</body>
</html>