<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="logout">
    <form action="{% url 'home'%}" method="post">
    {% csrf_token %}
    <input type="submit" value="Home">
    </form>
</div>

<center><h1>Equepment List</h1></center>

<table border="1" cellpadding="20">
    <tr>
        <td>Serial number</td>
        <td>Equepment name</td>
        <td>Id</td>
        <td>City Name</td>
        <td>Plant id</td>
        <td>Status</td>
        <td>Created</td>
        <td>Modify</td>
        <td>Details</td>
        <td>Dimension</td>

    </tr>
    <tr>
        {% for i in ed %}
        <td>{{i.equepmentSerialNumbeer}}</td>
        <td>{{i.equepmentname}}</td>
        <td>{{i.equepmentid}}</td>
        <td>{{i.equepmentcity}}</td>
        <td>{{i.plantid.plantid}}</td>
        <td>{{i.status}}</td>
        <td>{{i.created}}</td>
        <td>{{i.modify}}</td>
        <td>{{i.details}}</td>
        <td>{{i.dimension}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>